body{
     margin:0;
     padding:0;
     font-family:sans-serif;
}
.heading{
	color:blue;
	position:absolute;
	top-margin:10%;
	width:100%;
}

header{
     width:100%;
	 height:60px;
	 background-color:#FF3031;
}	
.head {
       color:#fff;
	   font-size:3rem;
	   float:left;
	   font-family:Times New Roman;
	   font-weight: 800;
	   margin-left:5%;
}
.slideshow-container{
	 max-width:100%;
	 position:relative;
	 margin:auto;
}
.myslides{
	 display:none;
}
.img-responsive{
	 display:block;
	 max-width:100%;
	 height:450px;
}
.fade{
	 .webkit-animation-none:fade;
	 .webkit-animation-duration:.8%;
	  animation-none:fade;
	  animation-duration:.8%;
}
@-webkit-keyframes fade{
	from(opacity: .4)
	to(opacity: 1)
}
@keyframes fade{
	 from(opacity: .4)
	 to(opacity: 1)
}
 nav{
	 float:right;
	 margin-right:1%;
 }
nav li{
	 display:inline;
	 padding:1.5rem
}
nav li a{
	 color:#ff;
	 text-decoration:none;
	 font-size:1.5rem;
	 font-family:Times New Roman;
	 font-weight:800;
}
nav li a:hover{
	  color:green;
	  border-bottom:2px solid gold;
	  font-size:1.2rem;
	  padding:15px 0;
	  transition: all 0.5s ease-in;
}
img{
	  width:100%;
	  height:25rem;
}
video {
	 width:45%;
	 color:green;
	 display:flex;
	 margin:9px;
	 padding:0px;
	 float:right; 
}
.video p{
	font-size:25px;
	padding:6px 3px;
	background-color:#B3CDC5;
	text-align:center;
	}
.video p span{
	text-align:center;
	font-size:30px;
	font-weight:bold;
	margin:-30px;
}
section{
     margin:5rem 5rem;
     display:flex;
     justify-content: space-between;
     text-align:center;
}
b{
     padding: 1rem;
	 background-color:#FF3031;
	 color:#fff;
	 border-radius:50%;
}
.box1{
	 padding: 0.7rem;
	 background-color:lightcyan;
}
.box1 p{
	 font-family:cursive;
}
.btn{
	 background-color:#E44236;
	 color:#fff;
	 padding:0.7rem 1rem;
	 border:none;
	 border-radius:10px;
}
.btn:hover{
	 background-color:yellow;
	 color:#000;
	 font-size:1.2rem;
}

/* About Section*/

.about{
	padding:80px 15px;
	background-color:#ffffff;
	margin:-90px;
	width:90%;
	margin:0px;
	padding:1px;
}
.about .content{
	display:flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width:33.33%;
	padding:15px;
}
.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
	background-color:#c11325;
}
.about .content .box .inner img{
	width:100%;
	height:15rem;
}
.about .content .box .inner .text{
	padding:20px 15px;
}
.about .content .box .inner .text h4{
	font-size:18px;
	text-decoration:center;
	margin:0;
	padding:0px 0px 15px;
	font-weight:400;
	text-transform:uppercase;
	font-weight:Bold;
	color:#ffffff;
	text-align:center;
}
.about .content .box .inner .text p{
	font-size:18px;
	line-height:20px;
	height:160px;
	text-align:center;
	list-style-type:circle;
	font-weight:300;
	color:#ffffff;
	margin:0;
	list-style-position: outside;
}
.about .content .box .inner .text p span{
  font-weight:bold;
}

/* Class Schedule Section*/
.headschedule h1{
	text-align:center;
	background-color:red;
	height:40px;
}
.schedule{
	padding:80px 0px;
	margin-top:-90px;
}
.schedule .content{
	-webkit-display:flex;
	display:flex;
}
.schedule .content .text{
	flex:0 50%;
	max-width:50%;
	padding:15px;
}
.schedule .content .img{
	width:100%;
	height:100%;
}
.schedule .content .timing table{
	width:140%;
	height:95%;
	margin-top:15px;
	padding-top:10px;
	border-collapse: collapse;
}
.schedule .content .timing .table td{
	 border:5px solid #f5f5f5;
	 padding:8px;
	 font-size:16px;
	 text-align:center;
	 color:#222222;
}	
.schedule .content .timing .table tr:nth-child(even) td.day{
		background-color:#222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
		background-color:#444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day{
		background-color:#c11325;
}
.schedule .content .timing .table tr td.day{
	 color:#ffffff;
	 border-color:transparent;
}

/* Contact Section*/

.contacthead h1{
	text-align:center;
	margin-top:-100px;
	background-color:green;
	height:40px;
}	
.contact{
	 width:100%;
	 margin-left:12px;
	 background-color:white;
}
.contact .content{
	 -webkit-display:flex;
	 display:flex;
	 padding:1rem 5rem;
	 margin:0px;
}
.contact .content .box{
	 flex: 0 0 50%;
	 max-width:50%;
	 padding:15px;
}	
.contact .content .form input,
.contact .content .form textarea{
	height:45px;
	width:100%;
	padding:6px 12px;
	margin-bottom:25px;
	background-color: transparent;
	border:1px solid #c11325;
	font-family: 'Open-sans',sans-serif;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#black;
}
.contact .content .form textarea{
	height:100px;
}
.contact .content .form button{
	border:none;
	outline:none;
	box-shadow:none;
	height:45px;
	padding:0px 30px;
	border:1px solid transparent;
	background-color:#c11325;
	color:#ffffff;
	font-size:15px;
	transition: all .5ps ease;
	cursor:pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#black;
	border-color:#ffffff;
}
.contact .content .text h2{
	font-size:40px;
	font-weight:500;
	color:#c11325;
	padding:0px 0px 20px;
}
.contact .content .text p{
	font-size:25px;
	line-height:20px;
	color:black;
	margin:0;
	padding:0px 0px 2px;
	font-family:Open-sans', sans-serif;
}
.contact .content .text .info ul{
	list-style:none;
	padding:1px;
	margin:1px;
}
.contact .content .text .info li{
	display:block;
	margin-bottom:10px;
	color:black;
	font-size:25px;
	letter-spacing:2px;
}
.contact .content .text .info li span{
	display:inline-block;
	position:absolute;
	left:0px;
	top:5px;
	font-size:15px;
	color:#c11325;
}
.contact .content .text .social{
	padding-top:30px;
	}
.contact .content .text .social a{
	height:50px;
	width:50px;
	line-height:40px;
	text-align:center;
	background-color:white;
	text-decoration:none;
	display:inline-block;
	margin-left:10px;
}
.contact .content .text .social a span{
	color:#222222;
	font-size:50px;
}
footer{
	 background-color:#000;
	 color:#fff;
	 padding:1rem;
	 text-align:center;
}
	